@import url('https://fonts.googleapis.com/css?family=Muli:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap&subset=latin-ext,vietnamese');

*
{
    font-family: 'Muli', sans-serif;
    margin: 0;
    padding: 0;
}
html
{
    font-size: 16px;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    -webkit-text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
    text-shadow: rgba(0, 0, 0, .01) 0 0 1px
}
.container-fluid, .container-lg, .container-md, .container-sm, .container-xl
{
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
}
dl, ol, ul
{
    list-style-type: none;
    font-size: 17px;
	padding-top: 5px;
	color: #7D7D7D;
}
/* Section Header */
.header
{ 
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 100;
	background: white;
	box-shadow: 0 5px 15px rgba(87, 204, 195, .15); 
}
.logo
{
    padding-left: 50px;
}
.logo img
{
    width: 50%;
}
.nav-link
{
	font-size: 17px;
    font-weight: 700;
    color: #151D41 !important;
    text-transform: uppercase;
}
.nav-item
{
    padding: 0px 20px;
}
.button-signup
{
    padding-left: 150px;
}
.call-phone
{
    background-color: #0F1CBF;
    border: none;
    width: 100%;
    padding: 5px 20px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    border-radius: 20px;
}
.text-signup
{
    text-transform: uppercase;
    font-size: 14px;
}


/* Section Contact */








.button {
	height: 43px
}




.button_1 {
	background: transparent;
	border: solid 1px #71bf44;
	border-radius: 999px;
	transition: 0.5s
}




.contact {
	padding-top: 170px;
	padding-bottom: 90px
}

.contact_form_container {
	width: 100%;
	background: #FFF;
	padding-left: 33px;
	padding-right: 34px;
	padding-bottom: 63px;
	padding-top: 136px;
	box-shadow: 0 25px 38px rgba(0, 0, 0, .2)
}

.contact_form_title {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 80px;
	background: transparent;
	line-height: 80px;
	text-align: center;
	font-size: 24px;
	font-weight: 600;
	color: #0f1cbf;
	box-shadow: 1px 2px 5px gainsboro
}

.contact_form {
	width: 100%
}

.contact_input {
	width: 100%;
	height: 62px;
	background: transparent;
	border: solid 2px #e6ebf1;
	margin-bottom: 18px;
	padding-left: 25px;
	outline: none;
	font-size: 15px;
	color: #404040;
	font-weight: 500;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease
}



.contact_input:focus,
.contact_input:hover {
	border: solid 2px #0f1cbf
}

.contact_input::-webkit-input-placeholder {
	font-size: 14px!important;
	font-weight: 400!important;
	font-style: italic;
	color: #a09f9f!important
}

.contact_input:-moz-placeholder {
	font-size: 14px!important;
	font-weight: 400!important;
	font-style: italic;
	color: #a09f9f!important
}

.contact_input::-moz-placeholder {
	font-size: 14px!important;
	font-weight: 400!important;
	font-style: italic;
	color: #a09f9f!important
}

.contact_input:-ms-input-placeholder {
	font-size: 14px!important;
	font-weight: 400!important;
	font-style: italic;
	color: #a09f9f!important
}

.contact_input::input-placeholder {
	font-size: 14px!important;
	font-weight: 400!important;
	font-style: italic;
	color: #a09f9f!important
}

.contact_button {
	width: 50%;
	font-size: 14px;
	font-weight: 700;
	color: white;
	text-transform: uppercase;
	border: solid 2px #0f1cbf;
	cursor: pointer;
	margin-top: 24px;
	transition: 0.5s;
	background: #0f1cbf
}

.contact_button:hover {
	background: #0f1cbf;
	color: white;
	transition: 0.5s
}

.contact_content_title {
	font-size: 30px;
	font-weight: 600;
	color: #404040;
	line-height: 1.2;
	margin-top: 32px
}

.contact_content_text {
	margin-top: 21px
}


.contact_info {
	margin-top: 50px
}

.contact_info ul li:not(:last-child) {
	margin-bottom: 24px
}

.contact_info ul li>div:first-of-type {
	width: 50px;
	font-size: 18px;
	font-weight: 600;
	color: #0f1cbf;
	line-height: 1.34
}

.contact_info ul li>div:last-of-type {
	max-width: 170px;
	font-size: 15px;
	font-weight: 600;
	color: #878787;
	line-height: 1.6
}


.google_map_row {
	margin-top: 90px
}

.contact_map {
	width: 100%
}



.google_map {
	width: 100%;
	height: 570px
}

.map_container {
	width: 100%;
	height: 100%;
	overflow: hidden
}



/* Section Footer */
.footer
{
    padding: 20px 50px;
    background-image: -webkit-linear-gradient(top, #FCFEFF 0%, #91BFDD 100%);
    /* IE10 Consumer Preview */ 
    background-image: -ms-linear-gradient(top, #FCFEFF 0%, #91BFDD 100%);
    /* Mozilla Firefox */ 
    background-image: -moz-linear-gradient(top, #FCFEFF 0%, #91BFDD 100%);
    /* Opera */ 
    background-image: -o-linear-gradient(top, #FCFEFF 0%, #91BFDD 100%);
    /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FCFEFF), color-stop(1, #91BFDD));
    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-linear-gradient(top, #FCFEFF 0%, #91BFDD 100%);
    /* W3C Markup, IE10 Release Preview */ 
    background-image: linear-gradient(to bottom, #FCFEFF 0%, #91BFDD 100%);
}
.footer p
{
    padding: 0;
    font-size: 12px;
    color: #7D7D7D;
}
.infomation-1,.infomation-2,.infomation-3,.infomation-4
{
    text-align: left;
    padding: 10px 20px;
}
.infomation-1 img
{
    width: 25%;
}
.infomation-2 p,.infomation-3 p,.infomation-4 p
{
    font-size: 20px;
    color: #000;
    font-weight: bold;
}
.icon-center
{
    text-align: center;
}
